$border-radius-xxs: 3pt;
$border-radius-xs: 6pt;
$border-radius-sm: 9pt;
$border-radius-md: 12pt;
$border-radius-lg: 15pt;
$border-radius-xl: 18pt;
$border-radius-xxl: 21pt;
$padding-xxs: 3pt;
$padding-xs: 6pt;
$padding-sm: 9pt;
$padding-md: 12pt;
$padding-lg: 15pt;
$padding-xl: 18pt;
$padding-xxl: 21pt;
$font-size-xxs: 3pt;
$font-size-xs: 6pt;
$font-size-sm: 9pt;
$font-size-md: 12pt;
$font-size-lg: 15pt;
$font-size-xl: 18pt;
$font-size-xxl: 21pt;
$human-blue: rgb(0, 122, 255);
